.login-button-width {
    min-width: 6rem;
    background-color: #21472E;
    border-radius: 0;
    border: 1px solid #21472E;
}

.login-button-width:hover {
    background-color: #3EAB48;
    border-radius: 0;
    border: 1px solid #3EAB48;
}

.bg-primary-400 {
    background-color: #21472E !important;
}